    <section id="counts" class="counts">
        <div class="container">

          <div class="row">


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="fa fa-percent"></i>
                <span class="counter-up">تخفیف ویژه</span>
                <p class="subText">تخفیف ویژه فصلی</p>
              </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fas fa-shield-alt"></i>
                <span class="counter-up">امنیت پرداخت</span>
                <p class="subText">پرداخت کاملا امن</p>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fas fa-shipping-fast"></i>
                <span class="counter-up">تحویل سریع</span>
                <p class="subText">تحویل 24 ساعته</p>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fa fa-headset"></i>
                <span class="counter-up">پشتیبانی</span>
                <p class="subText">پشتیبانی 24 ساعته</p>
              </div>
            </div>

<!--            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5 mt-lg-0">-->
<!--              <div class="count-box">-->
<!--                &lt;!&ndash; <i class="fas fa-coins"></i> &ndash;&gt;-->
<!--                <i class="fas fa-dollar-sign"></i>-->
<!--                <span data-toggle="counter-up">قیمت مناسب</span>-->
<!--                <p>قیمت کارخانه</p>-->
<!--              </div>-->
<!--            </div>-->


          </div>

        </div>
      </section>
