::ng-deep .register{
  height: 100vh;
  background-color: #fadeed;
  text-align: center;
  position: absolute;
}
::ng-deep .register .card{
  margin: 10px auto;
  position: relative;
}
::ng-deep .register .p-card .p-card-content {
  padding: 0rem 0;
}
@media (min-width: 960px) {
  ::ng-deep .register .card{
    width: 2rem;
  }
}
::ng-deep .register button.p-button-warning {
  background: #6076c2;
  border: none;
  border-radius: 8px;
  font-family: IRANSans_Bold;
  color: #FFFFFF;
  padding: 5px 30px;
}
::ng-deep .register  p {
  font-family: IRANSans_Bold;
  color: #000000;
  padding: 15px 0px;
}
::ng-deep .register  p a{
  text-decoration: none;
  color:#6076c2;
  margin-right: 4px;
}
::ng-deep .register .card p-card input::placeholder {
  font-family: IRANSans_Light;
}
