<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="info">
        <a class="facebook">
          <i class="fab fa-google-plus-g white-text"></i>
        </a>
        <a class="facebook">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="facebook" href="http://www.facebook.com/jahantebkhoram">
          <i class="fab fa-facebook-f white-text"></i>
        </a>
        <a class="linkedin" href="http://www.linkedin.com/in/jahantebkhoram">
          <i class="fab fa-linkedin-in white-text"></i>
        </a>
        <a class="instagram" href="http://instagram.com/jahantebkhoram">
          <i class="fab fa-instagram white-text"></i>
        </a>
      </div>
    </div>
    <div class="info mr-auto">
      <i class="fa fa-envelope"></i> <a href="mailto:contact@jahantebkhoram.ir">contact@sorenabook.ir</a>
      <i class="fas fa-phone mr-2"></i>066-32526055
      <i class="fas fa-map-marker-alt mr-2"></i>الشتر- خیابان شهید کلانتری
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="pc-header fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <a class="logo"><img src="../../../../assets/images/logo.png" alt=""></a>
      </div>
      <div class="col-sm-10">
        <p-megaMenu [model]="itemsPc" orientation="horizontal"></p-megaMenu>
      </div>
<!--      <div class="col-sm-2">-->
<!--        <a routerLink="/register" class="account scrollto"><i class="fa fa-user icon"></i>حساب کاربری</a>-->
<!--        <a class="account mr-3 scrollto"><i class="fa fa-shopping-cart icon"></i>سبد خرید</a>-->
<!--      </div>-->
    </div>
  </div>
</header>


<!-- side MENU -->
<p-sidebar class="menuSidebar" Scroll [(visible)]="displayMobileMenu" [blockScroll]="true"
           [modal]="true"
           position="right">
  <div class=" text-center shoppingMe">
    <p>کتابفروشی  سورنا</p>
<!--    <img height="60px" src="../../../../assets/images/other/logo.png">-->
  </div>
  <div class="p-d-flex p-flex-column">
    <div class="p-mb-auto">
      <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
  </div>
</p-sidebar>


<!--mobile header-->
<header class="mobile-header">
  <div class="row">
    <div class="col">
      <button (click)="showMobileMenu()" type="button" class="mobile-bar">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="col">
      <a [routerLink]="['/']" class="navbar-brand text-center"><p>
        کتابفروشی سورنا
      </p>
<!--        <img src="../../../../assets/images/other/logo.png" alt="کتابفروشی سورنا" class="mobile-logo">-->
      </a>
    </div>
    <div class="col mobile-icon p-d-flex">
      <i class="fa fa-user p-ml-auto"></i>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
</header>




