<div id="topbar" class="d-none d-lg-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="info">
        <a class="facebook">
          <i class="fab fa-google-plus-g white-text"></i>
        </a>
        <a class="facebook">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="facebook" href="http://www.facebook.com/jahantebkhoram">
          <i class="fab fa-facebook-f white-text"></i>
        </a>
        <a class="linkedin" href="http://www.linkedin.com/in/jahantebkhoram">
          <i class="fab fa-linkedin-in white-text"></i>
        </a>
        <a class="instagram" href="http://instagram.com/jahantebkhoram">
          <i class="fab fa-instagram white-text"></i>
        </a>
      </div>
    </div>
    <div class="info mr-auto">
      <i class="fa fa-envelope"></i> <a href="mailto:contact@jahantebkhoram.ir">contact@sorenabook.ir</a>
      <i class="fas fa-phone mr-2"></i>066-32526055
      <i class="fas fa-map-marker-alt mr-2"></i>الشتر- خیابان شهید کلانتری
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<!--<header id="header" class="pc-header ">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-2">-->
<!--        <a class="logo"><img src="../../../../assets/images/logo.png" alt=""></a>-->
<!--      </div>-->
<!--      <div class="col-sm-10">-->
<!--        <p-megaMenu [model]="itemsPc" orientation="horizontal"></p-megaMenu>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="col-sm-2">&ndash;&gt;-->
<!--&lt;!&ndash;        <a routerLink="/register" class="account scrollto"><i class="fa fa-user icon"></i>حساب کاربری</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="account mr-3 scrollto"><i class="fa fa-shopping-cart icon"></i>سبد خرید</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->


<!-- side MENU -->
<p-sidebar class="menuSidebar" Scroll [(visible)]="displayMobileMenu" [blockScroll]="true"
           [modal]="true"
           position="right">
  <div class=" text-center shoppingMe">
    <p>کتابفروشی  سورنا</p>
<!--    <img height="60px" src="../../../../assets/images/other/logo.png">-->
  </div>
  <div class="p-d-flex p-flex-column">
    <div class="p-mb-auto">
      <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
  </div>
</p-sidebar>


<!--mobile header-->
<header class="mobile-header">
  <div class="row">
    <div class="col">
      <button (click)="showMobileMenu()" type="button" class="mobile-bar">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="col">
      <a [routerLink]="['/']" class="navbar-brand text-center"><p>
        کتابفروشی سورنا
      </p>
<!--        <img src="../../../../assets/images/other/logo.png" alt="کتابفروشی سورنا" class="mobile-logo">-->
      </a>
    </div>
    <div class="col mobile-icon p-d-flex">
      <i class="fa fa-user p-ml-auto"></i>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
</header>


<header id="header" class="pc-header">
<div class="site-header__nav-panel">
  <div class="nav-panel nav-panel--sticky">
    <div class="nav-panel__container">
      <div class="nav-panel__row">
        <div class="nav-panel__departments">
          <div class="departments">
            <button class="departments__button" (click)="toggleNavBar()" (mouseover)="openNavBar()">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="14"
                   class="departments__button-icon" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g><path d="M732.1,732.1H990V990H732.1V732.1z M371.1,732.1h257.9V990H371.1V732.1z M10,732.1h257.9V990H10V732.1z M732.1,371.1H990v257.9H732.1V371.1z M732.1,10H990v257.9H732.1V10z M371.1,371.1h257.9v257.9H371.1V371.1z M371.1,10h257.9v257.9H371.1V10z M10,371.1h257.9v257.9H10V371.1z M10,10h257.9v257.9H10V10z"/></g>
</svg>
              دسته بندی محصولات
              <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" class="departments__button-arrow">
                <path
                  d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="nav-links nav-panel__nav-links">
          <ul class="nav-links__list">
            <li class="nav-links__item">
              <a class="nav-links__item-link">
                <div class="nav-links__item-body" [routerLink]="['/home/about']" target="_blank">
               درباره ما
                </div>
              </a>
            </li>
            <li class="nav-links__item">
              <a class="nav-links__item-link">
                <div class="nav-links__item-body" [routerLink]="['/home/contact']">
                تماس با ما
                </div>
              </a>
            </li>
            <li class="nav-links__item">
              <a class="nav-links__item-link">
                <div class="nav-links__item-body" [routerLink]="['/auth/register']">
                 ورود/ ثبت نام
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div style="margin:auto; width: 30%;">
          <app-search-bar (onSelectedOption)="onSelectedFilter($event)"></app-search-bar>
        </div>
        <div class="nav-panel__indicators">
          <div class="indicator">
            <a class="indicator__button">
              <span class="indicator__area" *ngIf="isLogged">
                <p routerLink="/user/panel">{{firstName+' '+lastName}} خوش آمدید</p>
              </span>
            </a>
          </div>
          <div class="indicator" #basketDropDown (clickOutside)="closeBasketDropDown()"
               (mouseleave)="closeBasketDropDown()">
            <a class="indicator__button" (click)="toggleBasketDropDown()" (mouseover)="openBasketDropDown()">
              <span class="indicator__area">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="">
                  <circle cx="7" cy="17" r="2"></circle>
                  <circle cx="15" cy="17" r="2"></circle>
                  <path
                    d="M20 4.4V5l-1.8 6.3c-.1.4-.5.7-1 .7H6.7c-.4 0-.8-.3-1-.7L3.3 3.9c-.2-.6-.7-.9-1.2-.9H.4C.2 3 0 2.8 0 2.6V1.4c0-.2.2-.4.4-.4h2.5c1 0 1.8.6 2.1 1.6l.1.4 2.3 6.8c0 .1.2.2.3.2h8.6c.1 0 .3-.1.3-.2l1.3-4.4c0-.2-.2-.4-.4-.4H9.4c-.2 0-.4-.2-.4-.4V3.4c0-.2.2-.4.4-.4h9.2c.8 0 1.4.6 1.4 1.4z"></path>
                </svg>
                <span class="indicator__value">{{countBadge}}</span>
              </span>
            </a>
            <div class="indicator__dropdown" style="max-height: 458px;z-index: 99999">
              <div class="dropcart dropcart--style--dropdown">
                <div class="dropcart__body">

                  <div class="dropcart__products-list" *ngIf="lengthCartlist !== 0">
                    <div class="dropcart__product" *ngFor="let item of cartlist">
                      <div class="product-image dropcart__product-image">
                        <a class="product-image__body">
                          <img [src]="item.cartList.image" alt="" class="product-image__img">
                        </a>
                      </div>
                      <div class="dropcart__product-info">
                        <div class="dropcart__product-name">
                          <a>{{item['cartList'].title}}</a>
                        </div>
                        <div class="dropcart__product-meta d-flex">
<!--                          <span class="dropcart__product-quantity">{{item['number']}}</span>-->

                          <span class="dropcart__product-quantity" *ngIf="item['cartList'].offer">{{((item['cartList'].price-((item['cartList'].price *item['product']['cartList'].offerPercent)/100)|number)) }}تومان </span>

                          <span class="dropcart__product-quantity" *ngIf="!item['cartList'].offer">{{item['cartList'].price|number }}تومان </span>
                          <!--                          <span class="dropcart__product-price">{{item['product']['cartList'].price|number}}-->
                          <!--                            تومان-->
                          <!--                          </span>-->
                        </div>
                      </div>
                      <i class="pi pi-trash fa-1x p-text-left" style="color:#c33" (click)="onDeleteCart(item)"></i>
                    </div>
                  </div>
                  <div class="dropcart__products-list" *ngIf="lengthCartlist === 0">
                    <p class="text-center">
                      سبد خرید شما خالی است.
                    </p>
                  </div>
                  <div class="dropcart__totals">
                    <table>
                      <tbody>
                      <tr>
                        <th>جمع کل</th>
                        <td>{{sumOfPrice|number}} تومان</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="dropcart__buttons">
                    <button class="btn" style="background-color: #c33;color: #ffffff;font-size: 14px"
                            (click)="gotoCart()" >مشاهده سبد و تکمیل خرید
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>



    </div>



  </div>
</div>
</header>
