<p-toast position="center"></p-toast>
<div style="direction: rtl; text-align: right">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100 mt-3">

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="title">عنوان</label>
        <input id="title" type="text" pInputText
               formControlName="value">
        <!--        <ul class="mt-1 text-right list-inline"-->
        <!--            *ngFor="let error of errorMessages.title">-->
        <!--          <li class="font-small text-danger font-title-bold list-inline-item"-->
        <!--              *ngIf="form.get('title').hasError(error.type)-->
        <!--                            && (form.get('title').dirty-->
        <!--                            || form.get('title').touched)">-->
        <!--            {{ error.message }}-->
        <!--          </li>-->
        <!--        </ul>-->
      </div>

    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <div class="float-left">
          <button pButton label="ثبت" class="p-button-success"
                  icon="pi pi-check" iconPos="left" [disabled]="form.invalid"></button>
        </div>
      </div>
    </div>

  </form>
</div>
