<div class="container-fluid">
  <form [formGroup]="formbuyuser" >
  <div class="card-header">
    <span>صفحه مدیریت سفارشات</span>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ردیف</th>
      <th scope="col">تصویر</th>
      <th scope="col">عنوان کتاب</th>
      <th scope="col">تاریخ خرید</th>
      <th scope="col">قیمت</th>
      <th scope="col">وضعیت سفارش</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listbuyuser;let i=index">
      <th scope="row">{{i+1}}</th>
      <td><img style="width: 50px;height: 50px" [src]="item.product[0]['image']"  alt=""></td>
      <td>{{item.product[0]['title']}}</td>
      <td>{{item.date}}</td>
      <td>{{item.price}}</td>
      <td style="text-align: center"><span>موفق</span></td>
    </tr>

    </tbody>
  </table>
  </form>
</div>
