<div class="container-fluid">
  <div class="card-header">
    <span>صفحه مدیریت سفارشات</span>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ردیف</th>
      <th scope="col">عنوان کتاب</th>
      <th scope="col">نویسنده</th>
      <th scope="col">تاریخ خرید</th>
      <th scope="col">قیمت</th>
      <th scope="col">تراکنش</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">1</th>
      <td>بل</td>
      <td>بلبل</td>
      <td>بلبل</td>
      <td>بلبل</td>
      <td><span>موفق</span></td>
    </tr>

    </tbody>
  </table>
</div>
