.container-fluid .card-header{
  padding: 10px 0px;
  background-color: #e86916;
}
.container-fluid .card-header span{
  font-family: IRANSans_Bold;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 10px;
}
.container-fluid .table thead{
  font-family: IRANSans_Bold;
}
.container-fluid .table tbody{
  font-family: IRANSans_Light;
}
.container-fluid .table thead tr{
  text-align: center;
}
.container-fluid .table tbody tr td{
  text-align: center;
}
.container-fluid .table tbody span{
  background-color: #16e838;
  padding: 3px 5px;
  color: #FFFFFF;
}
