
<div class="card">
  <h5>Vertical with Content</h5>
  <div class="p-grid">
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div class="p-fluid">
        <div class="p-field">
          <label for="username">Username</label>
          <input pInputText id="username" type="text" />
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input pInputText id="password" type="password" />
        </div>
        <p-button label="Login"></p-button>
      </div>
    </div>
    <div class="p-col-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
    </div>
  </div>
</div>
