<div class="container-fluid">
  <img src="../../../assets/images/imglogin.png" style="margin-top: 20px" alt="">
  <form [formGroup]="formlogin" (ngSubmit)="sublogin(formlogin.value)">
  <div class="card" >
    <span>ورود کاربر</span>
    <div class="card-body">
      <div class="p-field p-grid">
        <label for="firstname3" class="p-col-fixed" ><i class="pi pi-user" style="font-size: 1rem;color: #fff"></i></label>
        <div class="p-col">
          <input id="firstname3" formControlName="mobile" class="form-control" placeholder="شماره موبایل "  type="text" pInputText>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="firstname4" class="p-col-fixed" ><i class="pi pi-lock" style="font-size: 1rem;color: #fff"></i></label>
        <div class="p-col">
          <input pPassword id="firstname4" formControlName="password" class="form-control"  placeholder="رمز عبور " type="password"  promptLabel="رمز را وارد نمائید" weakLabel="ضعیف" mediumLabel="متوسط" strongLabel="قوی"/>
        </div>
      </div>
    </div>
  </div>
    <button pButton type="submit"   class="p-button-warning" >ورود</button>
    <p>اگر در فروشگاه سورنا حساب کاربری ندارید<a routerLink="/auth/register">ثبت نام</a> کنید.</p>
</form>
</div>
<p-toast position="top-center"></p-toast>
