
<div class="container">
  <form [formGroup]="form"  class="w-100 mt-3" (ngSubmit)="submitForm()">
    <p-accordion [activeIndex]="index">
      <p-accordionTab header="گام اول: انتخاب دسته محصول" [selected]="true">
        <div class="p-d-flex p-flex-column p-flex-md-row">
          <div class="p-mb-2 p-mr-2">
            <p-listbox [options]="categories"  (onChange)="showSubCategory($event)"   [metaKeySelection]="false"  [filter]="true"  optionLabel="title" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
              <ng-template let-category pTemplate="item">
                <div class="country-item">
                  <div>{{category.title}}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
          <div class="p-mb-2 p-mr-2">
            <p-listbox [options]="subCategory"   (onChange)="onSubCategory($event)"   [metaKeySelection]="false"  [filter]="true"  optionLabel="title" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
              <ng-template let-category pTemplate="item">
                <div class="country-item">
                  <div>{{category.title}}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>

        </div>



      </p-accordionTab>
      <p-accordionTab header="گام دوم: درج اطلاعات محصول" >
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label for="title">محصول:<label class="text-danger">*</label></label>
            <input id="title" type="text" pInputText
                   formControlName="title">
            <!--          <ul class="mt-1 text-right list-inline"-->
            <!--              *ngFor="let error of errorMessages.title">-->
            <!--            <li class="font-small text-danger font-weight-bold list-inline-item"-->
            <!--                *ngIf="form.get('title').hasError(error.type)-->
            <!--                            && (form.get('title').dirty-->
            <!--                            || form.get('title').touched)">-->
            <!--              {{ error.message }}-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label for="price" > قیمت :<label class="text-danger">*</label></label>
            <p-inputNumber id="price" formControlName="price">
            </p-inputNumber>
            <!--          <ul class="mt-1 text-right list-inline"-->
            <!--              *ngFor="let error of errorMessages.price">-->
            <!--            <li class="font-small text-danger font-weight-bold list-inline-item"-->
            <!--                *ngIf="form.get('price').hasError(error.type)-->
            <!--                            && (form.get('price').dirty-->
            <!--                            || form.get('price').touched)">-->
            <!--              {{ error.message }}-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
          <div class="p-field p-col text-right">
            <label for="count"> تعداد:<label class="text-danger">*</label></label>
            <p-inputNumber id="count" formControlName="count">
            </p-inputNumber>
            <!--          <ul class="mt-1 text-right list-inline"-->
            <!--              *ngFor="let error of errorMessages.count">-->
            <!--            <li class="font-small text-danger font-weight-bold list-inline-item"-->
            <!--                *ngIf="form.get('count').hasError(error.type)-->
            <!--                            && (form.get('count').dirty-->
            <!--                            || form.get('count').touched)">-->
            <!--              {{ error.message }}-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label class="d-block">ارسال محصول رایگان است؟  {{form.controls.freeSend.value === true ? 'بله' : 'خیر'}}</label>
            <p-inputSwitch formControlName="freeSend"></p-inputSwitch>
          </div>
          <div class="p-field p-col text-right">
            <label class="d-block">محصول شما تخفیف دارد؟  {{form.controls.offer.value === true ? 'بله' : 'خیر'}}</label>
            <p-inputSwitch formControlName="offer"></p-inputSwitch>
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid" *ngIf="form.controls.offer.value === true">
          <div class="p-field p-col text-right">
            <label for="offerPercent">درصد تخفیف</label>
            <p-inputNumber id="offerPercent" formControlName="offerPercent" prefix="%">
            </p-inputNumber>
          </div>
          <div class="p-field p-col">
            <label for="offerText">متن تخفیف</label>
            <input id="offerText" type="text" pInputText
                   formControlName="offerText">
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label for="detail"> جزئیات محصول  :<label class="text-danger">*</label></label>
            <textarea class="form-control" formControlName="detail" id="detail"  rows="3" ></textarea>
            <!--          <ul class="mt-1 text-right list-inline"-->
            <!--              *ngFor="let error of errorMessages.detail">-->
            <!--            <li class="font-small text-danger font-weight-bold list-inline-item"-->
            <!--                *ngIf="form.get('detail').hasError(error.type)-->
            <!--                            && (form.get('detail').dirty-->
            <!--                            || form.get('detail').touched)">-->
            <!--              {{ error.message }}-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label for="help">  راهنما محصول  :<label class="text-danger">*</label></label>
            <textarea class="form-control" formControlName="help" id="help"  rows="3" ></textarea>
            <!--          <ul class="mt-1 text-right list-inline"-->
            <!--              *ngFor="let error of errorMessages.help">-->
            <!--            <li class="font-small text-danger font-weight-bold list-inline-item"-->
            <!--                *ngIf="form.get('help').hasError(error.type)-->
            <!--                            && (form.get('help').dirty-->
            <!--                            || form.get('help').touched)">-->
            <!--              {{ error.message }}-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
        </div>
        <!--    <button pButton type="button" label="ادامه" class="p-button-danger" (click)="openNext($event)"></button>-->
      </p-accordionTab>

      <p-accordionTab header="گام سوم: درج ویژگی های محصول">
        <div class="p-d-flex p-flex-column p-flex-md-row">
          <div class="p-mb-2 p-mr-2">
            <p-listbox [options]="features"   (onChange)="showFeatureValue($event)"   [metaKeySelection]="false"  [filter]="true"  optionLabel="titleFarsi" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
              <ng-template let-category pTemplate="item">
                <div class="country-item">
                  <div>{{category.titleFarsi}}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
          <div class="p-mb-2 p-mr-2">
            <p-listbox [options]="featuresValues"  (onChange)="addSelectedValues($event)"   [metaKeySelection]="false"  [filter]="true"  optionLabel="value" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
              <ng-template let-category pTemplate="item">
                <div class="country-item">
                  <div>{{category.value}}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </div>
        <p class="pt-3 text-right">لیست ویژگی انتخابی شما</p>
        <p-table [value]="showSelectedFeatures">
          <ng-template pTemplate="header">
            <tr>
              <th>ویژگی</th>
              <th>مقدار</th>
              <th>حذف ویژگی</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-feature let-rowIndex="rowIndex">
            <tr>
              <td>{{feature.title}}</td>
              <td>{{feature.value}}</td>
              <td><i class="fas fa-trash" (click)="deleteFeature(rowIndex)"></i> </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3">هیچ ویژگی انتخاب نشده است.</td>
            </tr>
          </ng-template>
        </p-table>

      </p-accordionTab>
      <p-accordionTab header="گام چهارم: بارگذاری تصاویر">

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label>آپلود تصویر کالا<label class="text-danger">*</label>:</label>
            <p-fileUpload
              chooseLabel="انتخاب تصویر"
              uploadLabel="آپلود تصویر"
              cancelLabel="انصراف"
              [customUpload]="true"
              (uploadHandler)="imageUploader($event)"
              invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
              invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد"
              accept="image/jpeg,image/png" >
            </p-fileUpload>
            <!--          <ul class="mt-1 text-right list-inline"-->
            <!--              *ngFor="let error of errorMessages.image">-->
            <!--            <li class="font-small text-danger font-weight-bold list-inline-item"-->
            <!--                *ngIf="form.get('image').hasError(error.type)-->
            <!--                            && (form.get('image').dirty-->
            <!--                            || form.get('image').touched)">-->
            <!--              {{ error.message }}-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col text-right">
            <label>آپلود تصاویر گالری محصول<label class="text-danger">*</label>:</label>
            <p-fileUpload
              chooseLabel="انتخاب تصویر"
              uploadLabel="آپلود تصویر"
              cancelLabel="انصراف"
              [customUpload]="true"
              [multiple]="true"
              (uploadHandler)="onMultipleUpload($event)"
              invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
              invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد"
              accept="image/jpeg,image/png">
            </p-fileUpload>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <div class="p-fluid p-formgrid p-grid pt-3">
      <div class="p-field p-col">
        <div class="float-left">
          <button pButton label="ثبت محصول" class="ui-button-success"
                  icon="pi pi-check" iconPos="left" ></button>
        </div>
      </div>
    </div>
  </form>

</div>
