<app-header></app-header>
<div class="container">
  <div class="card">
    <div class="card-header">
      <span>تماس با ما</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul class="call-my">
          <li><span><i class="fa fa-map-marker"><span>لرستان:</span></i>الشتر،خیابان شهید کلانتری، کتابفروشی سورنا</span></li>
          <li><span><i class="fa fa-phone"><span>تلفن:</span></i>09370246773</span></li>
          <li><span><i class="fa fa-fax"><span>فکس:</span></i>066-32526055</span></li>
          <li><span><i class="fa fa-envelope"><span>ایمیل:</span></i>sorena@info.com</span></li>
        </ul>
      </blockquote>
    </div>
  </div>
</div>

<app-footer></app-footer>
