.stepar{
  font-family: IRANSans_Bold;
}
.table-striped tr {
  font-family: IRANSans_Light;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}
button {
  font-family: IRANSans_Light;
}
.table-step1 thead {
  background-color: #6880e8;
  color: #fff;
}
.table-step1 thead th{
  padding: 25px 0px !important;
}
.table-step1 thead th:first-child {
  border-radius: 0 10px 0 0;
}
.table-step1 thead th:last-child {
  border-radius:  10px 0 0 0;
}
.table-step1 tbody {
  border: 1px solid #5a6aa038;
}
::ng-deep .p-card.p-component {
  width: 500px;
  border: 1px solid #5767c359;
  border-radius: 3px;
}
.table-many td {
  text-align: left;
  font-family: IRANSans_Light;
}
.table-many th {
  font-family: IRANSans_Bold;
}
