<app-header></app-header>

<mat-horizontal-stepper class="stepar" linear #stepper [selectedIndex]="valueIndex">
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>لیست سفارشات</ng-template>
    <form [formGroup]="firstFormGroup">
      <p-panel styleClass="mb-3 pt-2" dir="rtl">
        <p-header>
          <p class="TitlePanel">لطفا قبل از ثبت سفارش از نوع , تعداد و قیمت محصولات مورد درخواست خود اطمینان حاصل
            نمایید .</p>
        </p-header>
        <p-table [value]="items" selectionMode="single" #dt  [rows]="4">
          <ng-template pTemplate="header">
            <tr class="title-table">
              <th class="text-center">ردیف</th>
              <th class="text-center">تصویر</th>
              <th class="text-center">عنوان</th>
              <th class="text-center">تعداد</th>
              <th class="text-center">قیمت واحد</th>
              <th class="text-center">قیمت کل</th>
              <th class="text-center">حذف</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">{{rowIndex + 1}}</td>
              <td class="text-center"><img [src]="product['cartList'].image" width="100" class="img-fluid">
              </td>
              <td class="text-center">{{product['cartList'].title}}</td>
              <td class="text-center">
                <input type="text" pInputText pKeyFilter="int" style="width: 100px" [disabled]="true"
                       value="1" (change)="addCart(items[rowIndex],$event.target)"/>
              </td>
              <td class="text-center"
                  *ngIf="product['cartList'].offer">{{product['cartList'].price - ((product['cartList'].price * product['cartList'].offerPercent) / 100)|number}}</td>
              <td class="text-center"
                  *ngIf="product['cartList'].offer">{{(product['cartList'].price - ((product['cartList'].price * product['cartList'].offerPercent) / 100)) |number}}</td>

              <td class="text-center"
                  *ngIf="!product['cartList'].offer">{{product['cartList'].price|number}}</td>
              <td class="text-center"
                  *ngIf="!product['cartList'].offer">{{product['cartList'].price |number}}</td>

              <td class="text-center"><i class="fas fa-times  text-danger" (click)="deleteCart(product)"></i></td>

            </tr>
          </ng-template>

        </p-table>

        <p-footer>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <ul class="list-group" style="list-style-type: none" dir="rtl">
                <li class="list-group-item ">
                  <div class="d-flex flex-row justify-content-center">
                    <div>جمع کل:</div>
                    <div class="mr-auto">{{sumPrice|number}} تومان</div>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="d-flex flex-row justify-content-center">
                    <div>مبلغ قابل پرداخت:</div>
                    <div class="mr-auto">{{sumPrice|number}} تومان</div>
                  </div>
                </li>

              </ul>


            </div>
          </div>
        </p-footer>
      </p-panel>
      <div>
        <button matStepperNext class="mt-5 p-button-danger" pButton type="button" label="مرحله بعدی"
                icon="pi pi-angle-left" iconPos="right" ></button>

      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel >مشخصات پستی</ng-template>
      <div class="card">
        <div class="p-fluid">
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="نام ">
              </div>
            </div>
            <div class="p-col-12 p-md-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="نام خانوادگی">
              </div>
            </div>
            <div class="p-col-12 p-md-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                <input type="text" pInputText placeholder="تلفن">
              </div>
            </div>
        </div>
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="text" pInputText placeholder="تلفن ثابت">
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-ellipsis-h"></i></span>
                <input type="text" pInputText placeholder="کد پستی">
              </div>
            </div>
        </div>
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
              <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
              <select class="form-select" aria-label="Default select example">
                <option selected>انتخاب استان مورد نظر</option>
                <option value="1">تهران</option>
                <option value="2">لرستان</option>
                <option value="3">سنندج</option>
              </select>
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
              <select class="form-select" aria-label="Default select example">
                <option selected>انتخاب شهر مورد نظر</option>
                <option value="1">تهران</option>
                <option value="2">لرستان</option>
                <option value="3">سنندج</option>
              </select>
              </div>
            </div>
        </div>
          <div class="p-grid p-fluid">
            <div class="p-col-12 ">
              <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="آدرس کامل" rows="3"></textarea>
              </div>
            </div>
        </div>
      </div>
      </div>
      <div class="d-flex flex-row">

        <button matStepperPrevious class="mt-5 p-button-danger p-ml-auto" pButton type="button" label="مرحله قبلی"
                icon="pi pi-angle-right" iconPos="left" ></button>
        <button matStepperNext class="mt-5 p-button-danger " pButton type="button" label="مرحله بعدی"
                icon="pi pi-angle-left" iconPos="right" ></button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel >پیش فاکتور</ng-template>
    <form [formGroup]="firstFormGroup">
      <p-panel styleClass="mb-3 pt-2" dir="rtl">
        <p-header>
          <p class="TitlePanel">لطفا قبل از ثبت سفارش از نوع , تعداد و قیمت محصولات مورد درخواست خود اطمینان حاصل
            نمایید .</p>
        </p-header>
        <p-table [value]="items" selectionMode="single" #dt  [rows]="4">
          <ng-template pTemplate="header">
            <tr class="title-table">
              <th class="text-center">ردیف</th>
              <th class="text-center">تصویر</th>
              <th class="text-center">عنوان</th>
              <th class="text-center">تعداد</th>
              <th class="text-center">قیمت واحد</th>
              <th class="text-center">قیمت کل</th>
              <th class="text-center">حذف</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">{{rowIndex + 1}}</td>
              <td class="text-center"><img [src]="product['cartList'].image" width="100" class="img-fluid">
              </td>
              <td class="text-center">{{product['cartList'].title}}</td>
              <td class="text-center">
                <input type="text" pInputText pKeyFilter="int" style="width: 100px" [disabled]="true"
                       value="1" (change)="addCart(items[rowIndex],$event.target)"/>
              </td>
              <td class="text-center"
                  *ngIf="product['cartList'].offer">{{product['cartList'].price - ((product['cartList'].price * product['cartList'].offerPercent) / 100)|number}}</td>
              <td class="text-center"
                  *ngIf="product['cartList'].offer">{{(product['cartList'].price - ((product['cartList'].price * product['cartList'].offerPercent) / 100)) |number}}</td>

              <td class="text-center"
                  *ngIf="!product['cartList'].offer">{{product['cartList'].price|number}}</td>
              <td class="text-center"
                  *ngIf="!product['cartList'].offer">{{product['cartList'].price |number}}</td>

              <td class="text-center"><i class="fas fa-times  text-danger" (click)="deleteCart(product)"></i></td>

            </tr>
          </ng-template>

        </p-table>

        <p-footer>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <ul class="list-group" style="list-style-type: none" dir="rtl">
                <li class="list-group-item ">
                  <div class="d-flex flex-row justify-content-center">
                    <div>جمع کل:</div>
                    <div class="mr-auto">{{sumPrice|number}} تومان</div>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="d-flex flex-row justify-content-center">
                    <div>مبلغ قابل پرداخت:</div>
                    <div class="mr-auto">{{sumPrice|number}} تومان</div>
                  </div>
                </li>

              </ul>


            </div>
          </div>
        </p-footer>
      </p-panel>
      <div class="d-flex flex-row">

        <button matStepperPrevious class="mt-5 p-button-danger p-ml-auto" pButton type="button" label="مرحله قبلی"
                icon="pi pi-angle-right" iconPos="left" ></button>
        <button matStepperNext class="mt-5 p-button-danger " pButton type="button" label="مرحله بعدی"
                icon="pi pi-angle-left" iconPos="right" ></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel >مرحله نهایی</ng-template>

    <div>
      <div class="d-flex flex-row">

        <button matStepperPrevious class="mt-5 p-button-danger p-ml-auto" pButton type="button" label="مرحله قبلی"
                icon="pi pi-angle-right" iconPos="left" ></button>
        <button class="mt-5 p-button-danger " pButton type="button" label="پرداخت هزینه "
                icon="pi pi-check" iconPos="left" ></button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<app-footer></app-footer>
