<app-header></app-header>

<div class="container">
  <div class="row">
  <div class="col-md-6">
    <img src="../../../../assets/images/bgabout.png" alt="">
  </div>
  <div class="col-md-6">
    <span>همه چیز درباره کتاب فروشی سورنا</span>
  <p>با مدیریت آقای مسلم کاظمی حسنوند که یکی از قدیمی ترین(با بیش از 10 سال سابقه ) فروشنده کتاب های نو و دست دوم در شهرستان الشتر است. این مجموعه دارای چندین انبار است که مملو از کتاب های کنکوری و دانشگاهی و پیام نور و …میباشد تا همه ی نیاز های شما مشتریان عزیز را برطرف نماید. کتاب فروشی علایی در قسمت کتاب های دانشگاهی کلیه رشته های کتاب های پیام نور و حقوق ، کاردانی به کارشناسی ، ارشد ، دکترا ، فنی مهندسی ، مدیریت، حسابداری ، اقتصاد ،پزشکی ، زیست شناسی ، روان شناسی ، زبان ، شیمی ، فیزیک ، ادبیات ، کامپیوتر ، عمران ، معماری و هنر ، المپیاد ، کتابهای قدیمی و کتابهای هنرستان و … دارا میباشد.</p>
  </div>
  </div>
</div>

<app-footer></app-footer>
