.container .col-md-6{
  padding: 25px 0px;
}
.container .col-md-6 span{
  font-family: IRANSans_Bold;
  text-align: right;
  line-height: 2;
  font-size: 18px;
}
.container .col-md-6 p{
  font-family: IRANSans_Light;
  text-align: justify;
  line-height: 2;
}
