<section class="footer-bg">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-4">
        <h5 class="footer-sec">درباره کتابفروشی دسته دوم سورنا</h5>
        <p class="footer-sec-about">
          با مدیریت آقای مسلم کاظمی حسنوند که یکی از قدیمی ترین(با بیش از 10 سال سابقه ) فروشنده کتاب های نو و دست دوم در شهرستان الشتر است.

          این مجموعه دارای چندین انبار است که مملو از کتاب های کنکوری و دانشگاهی و پیام نور و …میباشد تا همه ی نیاز های شما مشتریان عزیز را برطرف نماید.

          کتاب فروشی علایی در قسمت کتاب های دانشگاهی کلیه رشته های کتاب های پیام نور و حقوق ، کاردانی به کارشناسی ، ارشد ، دکترا ، فنی مهندسی ، مدیریت، حسابداری ، اقتصاد ،پزشکی ، زیست شناسی ، روان شناسی ، زبان ، شیمی ، فیزیک ، ادبیات ، کامپیوتر ، عمران ، معماری و هنر ، المپیاد ، کتابهای قدیمی و کتابهای هنرستان و … دارا میباشد.

        </p>
      </div>


      <div class="col-sm">
        <h5 class="footer-sec">دسته بندی محصولات</h5>
        <ul class="footer-sec-detail">
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            صفحه اصلی
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            درباره ما
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            محصولات
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            گالری تصاویر
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            اخبار
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            تماس با ما
          </li>
        </ul>
      </div>

      <div class="col-sm">
        <h5 class="footer-sec">دسترسی سریع</h5>
        <ul class="footer-sec-detail">
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            صفحه اصلی
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            درباره ما
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            خدمات
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            پروژه ها
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            اخبار
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            تماس با ما
          </li>
        </ul>
      </div>


      <div class="col-sm-4">
        <h5 class="footer-sec">راه های ارتباطی</h5>
        <ul class="footer-sec-detail">
          <li>
            <i class="fas fa-map-marker-alt fa-lg ml-2"></i>
            شهرستان الشتر،خیابان شهید کلانتری، کتابفروشی سورنا        </li>
          <li>
            <i class="fa fa-phone fa-lg ml-2"></i>
            <a href="tel:06633411975">066-33411975</a>
          </li>
          <li>
            <i class="fas fa-fax fa-lg ml-2"></i>
            <a href="">-066-32526055</a>
          </li>
          <li>
            <i class="fa fa-mobile fa-lg ml-2"></i>
            <a href="">066-32526055</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-lg ml-2"></i>
            <a href="mailto:info@jahantebkhoram.com">info@sorenabook.com</a>
          </li>
        </ul>
        <div class="social-links" >
          <a>
            <i class="fab fa-lg fa-google-plus-g"></i>
          </a>
          <a>
            <i class="fab fa-twitter"></i>
          </a>
          <a href="http://www.facebook.com/jahantebkhoram">
            <i class="fab fa-lg fa-facebook-f"></i>
          </a>
          <a href="http://www.linkedin.com/in/jahantebkhoram">
            <i class="fab fa-lg fa-linkedin-in"></i>
          </a>
          <a href="http://instagram.com/jahantebkhoram">
            <i class="fab fa-lg fa-instagram"></i>
          </a>
          </div>
      </div>


    </div>

  </div>
</section>

  <section class="copy-bg">
        <div class="copyright">
          Copyright @2021 <strong><span>sorenabook</span></strong>. All Rights Reserved &copy;
        </div>
        <div class="credits">
         طراحی و پیاده سازی شرکت رایا همراه دانش <a href="https://hd724.com/">hd724.com</a>
    </div>
  </section>



