.footer-bg{
  padding: 60px 0;
  direction: rtl;
  text-align: right;
  background-color: #eef7f8;
  color: #08404f;
 
}
.footer-sec{
  font-size: 14px;
  margin-bottom: 20px;
}
.footer-sec-detail{
  list-style: none;
  margin: unset;
  padding: unset;
}
.footer-sec-about {
  font-size: 14px;
  font-family: IRANSans_Light;
  text-align: justify;
}

.footer-sec-detail li i{
  color: #00c7a0;
}

 .social-links a {
  font-size: 14px;
  display: inline-block;
  background: #00c7a0;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: 34px;
  height: 34px;
  transition: 0.3s;
}

.social-links a i{
  padding: 4px;
}

 .social-links a:hover {
  background: #00ddb2;
  text-decoration: none;
}
.footer-sec-detail li, a{
  font-size: 14px;
  font-family: IRANSans_Light;
  margin-bottom: 3px;
  cursor: pointer;
  color: #08404f;
}
.footer-sec-detail li, a:hover{
  text-decoration: none;
}
.copy-bg{
  background-color: #00c7a0;
  color: #fff;
  font-family: IRANSans_Light;
  

}
.copyright {
  text-align: center;
  padding-top: 15px;
  font-size: 13px;


}

 .credits {
  padding-top: 3px;
  text-align: center;
  font-size: 13px;
}

